<section id="disclaimer">
    <p>
        AkwardFriendship is a service that will send a positive tweet to a complete stranger on Twitter along
        with a totally random image selected from Flickr.
        That being said, in the interest of preventing abuse and hurt feelings, you cannot choose the phrase
        you will send your mystery recipient nor the photo that they will receive.
    </p>

    <p>By signing into Twitter and clicking the send/tweet button, you acknowledge that you understand how the site operates
    and that you understand that your recipient is determined by a computer algorithim. By sending a tweet
    to a stranger, you also acknowledge that you understand that the operator has no control over who
    receives your tweet and that this is meant to be a completely automated system</p>

    <p>
        The site will collect some information in a effort to generate some data for a possible future
        project. The only information collected is

       <ol>
        <li>Screen name</li>
        <li>your coordinates, if you've allowed access to your location. Otherwise the result will appear "null"
        </li>
       </ol>

    From there, only the tweet is tracked.
    <ol>
        <li>Who gets it</li>
        <li>Number of RTs</li>
        <li>Number of favorites</li>
        <li>Locations of where the tweet has been if the user has allowed it.</li>
    </ol>



        By clicking send, you also acknowledge the fact that this will happen and that you fully
        give your permission for the site to collect information.
    </p>

    <p>
        This site is meant to be a very very silly toy and no real efforts have been made in regards to security, nor
        code optimization.
        By sending a tweet, you also acknowledge that you understand this fact.
    </p>

    <p>
        This site's complete sourcecode is available at. Please be aware that it is highly unoptimized code
        and should probably be refactored if you choose to take anything from it.
        https://github.com/XoioCo/AwkwardFriendship
    </p>
</section>